@mixin floating() {
   border-radius: 3em;
   box-shadow: 0 0 0 2px #fff;
   border: 1px solid black;
}

h1 {
   @include floating;
}

.col {
   img {
      @include floating;
      box-shadow: 0 1px 0 1px #fff;
      border: 0;
   }
}

@mixin grid($n-elements){
   display: flex;
   flex-basis: $n-elements;

}

.container {
   div{
      @include grid(50%);
   }
}


